/* FONTE USADA */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* CONFIG BÁSICA */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: var(--fonte-padrão);
}

/* Fonte e Cor usada */
:root {
    --cor-geral: #02A28F;
    --fonte-padrão: "Montserrat", serif;
}

main {
    margin: 3rem 7rem 4rem 7rem;
}

header {
    background-color: var(--cor-geral);
    display: flex;
    align-items: center;
    padding: 1.5rem 0 1.5rem 0;
}

header h1 {
    padding-left: 8rem;
    font-size: 2rem;
    font-weight: 700;
    color: white;
    }

footer {
    background-color: var(--cor-geral);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0 1rem 0;
}

    footer p {
        font-size: .8rem;
        font-weight: 600;
        color: white;
    }

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 80%;
}

.primeiraColuna {
    display: flex;
    flex-direction: column;
}

.containerPostsRecentes .navPosts {
    background-color: var(--cor-geral);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border: 0;
    border-radius: 10px;
    margin-bottom: 10px;
}

.navPosts h2 {
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
}

.navPosts a {
    font-size: 1rem;
    font-weight: 500;
    color: white;
}

.segundaColuna {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    width: 82%;
}

.categorias {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#imagemPrincipal {
        margin-bottom: 2rem;
    }

    #imagemPrincipal img{
        width: 100%;
        object-fit: contain;
    }

    #postsRecentes {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }

    #postsRecentes img {
        border-radius: 1em;
        background-color: rgba(255, 255, 255, 1);
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }

    #titlePopular {
        background-color: var(--cor-geral);
        padding: 1rem;
        border: 0;
        border-radius: 10px;
        margin-bottom: 10px;
    }

        #titlePopular h3 {
            font-size: 1.3rem;
            font-weight: 700;
            color: white;
        }

    #imgColuna2 {
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
    }

    #titleArticle {
        background-color: var(--cor-geral);
        padding: 1rem;
        border: 0;
        border-radius: 10px;
        margin-top: 5.5rem;
    }

    #titleArticle h3 {
        font-size: 1.3rem;
        font-weight: 700;
        color: white;
    }

    #textArticle {
        margin-top: 1.5rem;
    }

@media only screen and (max-width: 1230px) {
    main {
        margin: 2rem;
    }

    .container {
        grid-template-columns: 1fr;
        width: 100%;
    }

    .segundaColuna {
        margin-left: 0;
        width: 100%;
    }
}

@media only screen and (max-width: 760px) {
    header h1 {
        padding-left: 0;
        font-size: 1.5rem;
    }
    main {
        margin: 1rem;
    }
    .container {
        width: 100%;
    }
    #postsRecentes {
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 480px) {
    header {
        justify-content: center;
    }
    header h1 {
        font-size: 1.2rem;
    }
    .navPosts h2 {
        font-size: 1.2rem;
    }
    .navPosts a {
        font-size: 0.9rem;
    }
    footer p {
        font-size: 0.7rem;
    }

    #textAndImg-coluna2 {
        margin-top: 2rem;
    }

    #articleContainer{
        margin: 0;
    }
}